<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>
<app *shellRender>
  <div>
    <h3>Proper Application Shell</h3>
  </div>
  <nav>
      <span>
        <a [routerLink]=" ['./'] ">
          Index
        </a>
      </span>
    |
    <span>
        <a [routerLink]=" ['./home'] ">
          Home
        </a>
      </span>
    |
    <span>
        <a [routerLink]=" ['./detail'] ">
          Detail
        </a>
      </span>
    |
    <span>
        <a [routerLink]=" ['./about'] ">
          About
        </a>
      </span>
  </nav>
</app>

  <app *shellNoRender>


  </app>
<script type="text/javascript">
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register('/worker-basic.min.js');
  }
</script>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
  </script>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
